.Events {
    margin-bottom: 70px;
    ul {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        li {
            position: relative;
            width: 245px;
            border: 1px solid #e4e4e4;
            border-radius: 10px;

            &:hover {
                text-decoration: underline;
            }

            figure {
                background: #eeeeee;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
            }

            .txt {
                padding: 20px;

                p {
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                strong {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgb(112, 112, 112);
                }
            }
        }
    }
}
