.Present {
    & > .container {
        height: 470px;

        .tit {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            h2 {
                font-size: 30px;
            }
            i {
                font-size: 20px;
            }
        }

        .content {
            display: flex;
            .left {
                width: 685px;

                .slide {
                    display: flex;
                }
            }
            .right {
                img {
                    border-radius: 5px;
                }
            }
        }
        .ad {
            display: flex;

            figure {
                margin-right: 20px;
                box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.182);

                img {
                    border-radius: 5px;
                    height: 205px;
                }
            }
        }
    }
    .linkIcons {
        padding: 150px 0 100px 0;
        background: #503396;
        .container {
            ul {
                display: flex;
                li {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    align-items: center;
                    color: #fff;

                    i {
                        font-size: 50px;
                        margin-bottom: 10px;
                    }
                    span {
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
