.Detail {
    .mainVisual {
        color: #fff;
        background: #0f0f0f;

        .container {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 50px 0;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                z-index: 997;
            }
            &::before {
                left: 0;
                background: linear-gradient(to right, #0f0f0f, #0f0f0f8a);
            }
            &::after {
                right: 0;
                background: linear-gradient(to left, #0f0f0f, #0f0f0f8a);
            }

            .left {
                position: relative;
                margin-top: 50px;
                z-index: 998;

                .title {
                    margin-bottom: 15px;
                    h2 {
                        font-size: 46px;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }
                    span {
                        font-size: 21px;
                    }
                }

                .buttons {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 180px;

                    button {
                        font-size: 15px;
                        width: 100px;
                        height: 35px;
                        color: #fff;
                        background: none;
                        border: 1px solid #999;
                        border-radius: 5px;
                        cursor: pointer;
                        &:hover {
                            background: #fff;
                            color: #000;
                        }

                        span {
                            margin-left: 3px;
                            vertical-align: 11%;
                        }
                    }
                }

                .visit {
                    display: flex;
                    gap: 30px;
                    color: #ddd;
                    div {
                        display: flex;
                        flex-direction: column;
                    }
                    i {
                        font-size: 26px;
                        margin-right: 10px;
                        vertical-align: middle;
                        color: #777;
                    }
                    span {
                        margin-bottom: 20px;
                    }
                    strong {
                        font-size: 32px;
                        color: #59bec9;
                    }

                    .rate {
                        strong {
                            color: #fff;
                        }
                    }
                }
                .backdrop {
                    position: absolute;
                }
            }

            .right {
                z-index: 998;

                figure {
                    margin-bottom: 10px;
                    img {
                        width: 260px;
                        height: 374px;
                        border-radius: 5px;
                    }
                }

                button {
                    padding: 10px 0;
                    width: 100%;
                    font-size: 19px;
                    color: #fff;
                    background: #2a8595;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        background: #309db0;
                    }
                }
            }
        }
    }
}
