.Movie {
    margin-bottom: 50px;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        li {
            display: flex;
            flex-direction: column;

            .poster {
                figure {
                    position: relative;
                    margin-bottom: 5px;

                    img {
                        width: 245px;
                        height: 352px;
                        border-radius: 5px;
                    }
                    .inner {
                        position: absolute;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding: 30px;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        border-radius: 5px;
                        transition: 0.3s;

                        .overview {
                            color: #fff;
                            font-weight: 300;
                            line-height: 1.5;
                            margin-bottom: 40px;

                            // 몇 번째 줄 까지 출력할지 설정합니다.
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 8; /* 라인수 */
                        }

                        .vote {
                            text-align: center;
                            width: 100%;
                            font-size: 14px;
                            color: #fff;
                            padding-top: 24px;
                            border-top: 1px solid #666;

                            span {
                                font-size: 27px;
                                color: #00b7dc;
                                margin-left: 20px;
                            }
                        }
                    }
                    &:hover {
                        .inner {
                            background: rgba(0, 0, 0, 0.85);
                            opacity: 1;
                        }
                    }
                }
            }

            .box {
                display: flex;
                gap: 5px;

                button {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .heart {
                    display: inline-block;
                    flex: 1;
                    padding: 7px 0;
                    font-size: 14px;
                    font-weight: 300;
                    color: #fff;
                    background: #111;
                    border-radius: 5px;

                    i {
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }

                .buy {
                    display: inline-block;
                    flex: 2;
                    color: #fff;
                    background: #037b94;
                    border: none;
                    border-radius: 5px;

                    &:hover {
                        background: #037c94c9;
                    }
                }
            }
        }
    }
}
