@import "../basic";

* {
}

.Ticketing {
    margin-bottom: 50px;
    .container {
        h2 {
            @include setH2;
        }

        h4 {
            padding: 10px 0 10px 15px;
            font-size: 19px;
            border-bottom: 1px solid #ddd;
        }

        .content {
            display: flex;
            flex-direction: column;
            border-top: 1px solid #000;
            .days {
                display: flex;
                justify-content: space-between;
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;

                .date {
                    display: flex;
                    align-items: center;
                    margin: 0 auto;

                    div {
                        padding: 0 5px;
                        font-size: 21px;
                        transform: translateY(4%);
                        cursor: pointer;
                    }

                    li {
                        padding: 13px;
                        cursor: pointer;
                        &:hover {
                            background: #ddd;
                        }
                        &.on {
                            background: #777;
                            color: #fff;
                        }

                        strong {
                            &::after {
                                content: "";
                                display: inline-block;
                                margin: 0 2px;
                                width: 2px;
                                height: 2px;
                                border-radius: 50%;
                                background: #999;
                                vertical-align: 27%;
                            }
                        }
                    }
                }
                .calendar {
                    border-left: 1px solid #ddd;
                    padding: 11px;
                    cursor: pointer;
                }
            }
            .choice {
                display: flex;
                justify-content: space-between;
                border: 1px solid #ddd;
                font-size: 15px;

                .scroll {
                    overflow-y: scroll;
                    height: 450px;
                    width: 100%;
                    &::-webkit-scrollbar {
                        width: 6px; /* 스크롤바의 너비 */
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #555555; /* 스크롤바의 색상 */
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
                    }
                }

                ul {
                    padding: 10px 20px;
                    li {
                        position: relative;
                        display: flex;
                        padding: 5px;
                        align-items: center;
                        cursor: pointer;
                        &:hover {
                            background: #ddd;
                        }

                        &.on {
                            color: #fff;
                            background: #777;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 0;
                                width: 10px;
                                height: 10px;
                                transform: translateX(50%) translateY(-50%) rotate(45deg);
                                background: #777;
                            }
                        }
                    }
                }

                .movie {
                    flex: 3;
                    border-right: 1px solid#ddd;

                    .selMovie {
                        @include setAge;
                        &::before {
                            transform: scale(0.8);
                        }
                    }
                }
                .theater {
                    flex: 4;
                    border-right: 1px solid#ddd;
                    .box {
                        display: flex;

                        li {
                            &.on {
                                color: #fff;
                                background: #777;
                            }
                        }
                    }
                    .selRegion {
                        flex: 2;
                        border-right: 1px solid#ddd;
                    }
                    .selTheater {
                        opacity: 0;
                        visibility: hidden;
                        flex: 3;
                        &.clicked {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .time {
                    flex: 5;
                    opacity: 0;
                    visibility: hidden;
                    flex-direction: column;
                    &.clicked {
                        opacity: 1;
                        visibility: visible;
                    }

                    h4 {
                        border-bottom: none;
                    }
                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #ddd;
                        .sun {
                            margin-right: 20px;
                            font-size: 13px;
                            font-weight: 500;
                            span {
                                margin-left: 10px;
                            }
                        }
                    }
                    // choice 부모 ul li 상속 예외
                    .tab {
                        display: flex;
                        padding: 0 20px;
                        margin: 0;
                        font-size: 17px;
                        border-bottom: 1px solid #ddd;
                        li {
                            width: 100%;
                            margin: 0;
                            justify-content: center;
                            &.on {
                                color: #fff;
                                background: #777;
                                &::after {
                                    content: "";
                                    display: none;
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    width: 10px;
                                    height: 10px;
                                    transform: translateX(50%) translateY(-50%) rotate(45deg);
                                    background: #777;
                                }
                            }
                        }
                    }
                    .selTime {
                        padding: 0;
                        &.scroll {
                            height: 422px;
                        }

                        li {
                            padding: 15px 20px;
                            border-bottom: 1px solid #ddd;
                            .left {
                                display: flex;
                                strong {
                                    font-size: 19px;
                                    font-weight: 500;
                                    margin-bottom: 3px;
                                }
                                span {
                                    font-size: 14px;
                                }
                                .showTime {
                                    display: flex;
                                    flex-direction: column;
                                    margin-right: 30px;
                                }
                                .show {
                                    display: flex;
                                    flex-direction: column;
                                    transform: translateY(3%);

                                    strong {
                                        font-size: 17px;
                                    }
                                    span {
                                        font-size: 15px;
                                    }
                                }
                            }
                            .right {
                                margin-left: auto;
                                .where {
                                    font-size: 13px;
                                    font-weight: 500;
                                    text-align: end;
                                    div {
                                        margin-bottom: 3px;
                                    }
                                    .seat {
                                        font-size: 13px;
                                        font-weight: 400;
                                        padding: 2px 8px;
                                        border: 1px solid #ddd;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
