.Goods {
    margin-bottom: 80px;
    ul {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        li {
            position: relative;
            width: 245px;
            border: 1px solid #e4e4e4;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &:hover {
                border: 1px solid#352461;
            }

            figure {
                background: #eeeeee;
                border-top-right-radius: 10px;

                img {
                    border-top-right-radius: 10px;
                }
            }

            .txt {
                padding: 20px;

                p {
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                strong {
                    display: block;
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgb(112, 112, 112);
                    border-bottom: 1px solid #e4e4e4;
                }

                span {
                    font-size: 23px;
                    color: #503396;
                }
            }
        }
    }
}
