.Menus {
    ul {
        display: flex;
        margin-bottom: 50px;

        .link {
            display: flex;
            flex: 1;

            &:last-of-type {
                li {
                    border-right: 1px solid#ddd;
                }
            }

            li {
                flex: 1;
                padding: 10px 0;
                font-size: 17px;
                text-align: center;
                border: 1px solid #ddd;
                border-right: none;
                border-bottom: 1px solid #503396;
                cursor: pointer;

                &.on {
                    border: 1px solid #503396;
                    border-bottom: none;
                }
            }
        }
    }
}
