.Movie {
    margin-bottom: 50px;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        li {
            display: flex;
            flex-direction: column;

            figure {
                margin-bottom: 5px;

                img {
                    width: 245px;
                    height: 352px;
                    border-radius: 5px;
                }
            }

            .box {
                display: flex;
                gap: 5px;

                button {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .heart {
                    display: inline-block;
                    flex: 1;
                    padding: 5px 0;
                    font-size: 14px;
                    font-weight: 300;
                    color: #fff;
                    background: #111;
                    border-radius: 5px;

                    i {
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }

                .buy {
                    display: inline-block;
                    flex: 2;
                    color: #fff;
                    background: #037b94;
                    border: none;
                    border-radius: 5px;

                    &:hover {
                        background: #037c94c9;
                    }
                }
            }
        }
    }
}
