@import "basic";

.Theater {
    h2 {
        @include setH2;
    }
    .box {
        border: 3px solid #686571;
        border-radius: 5px;

        .district {
            display: flex;

            .region {
                flex: 1;
                font-size: 17px;
                text-align: center;
                &.on {
                    color: #fff;
                    background: #555555;
                }

                strong {
                    display: block;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    padding: 15px 0;
                    cursor: pointer;
                }

                &:last-of-type {
                    strong {
                        border-right: none;
                    }
                }
            }
        }
        .place {
            .city {
                display: none;
                padding: 30px 50px;
                &.on {
                    display: flex;

                    ul {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        line-height: 30px;

                        li {
                            width: calc((1000px - 6px) / 4);

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        li ~ li {
                        }
                    }
                }
            }
        }

        .interest {
            padding: 15px 20px;
            background: #ecf0f4;
            font-size: 15px;

            span {
                margin-right: 10px;
            }

            button {
                padding: 5px 10px;
                font-size: 14px;
                border: 1px solid var(--mc);
                border-radius: 3px;
                background: #fff;
                cursor: pointer;
            }
        }
    }
}
