.Vip {
    margin-bottom: 80px;

    .ticketBox {
        display: flex;
        text-align: center;
        overflow-y: hidden;

        .left {
            position: relative;
            flex: 1;
            padding: 140px 30px;
            background: #f3f4f6;

            h3 {
                font-size: 30px;
                margin-bottom: 20px;
            }

            &::after {
                content: "";
                position: absolute;
                top: -15px;
                right: -15px;
                width: 30px;
                height: 30px;
                background: #fff;
                border-radius: 50%;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                right: -15px;
                width: 30px;
                height: 30px;
                background: #fff;
                border-radius: 50%;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 2;
            padding: 75px 0;
            background: #ebecee;

            .question {
                font-size: 70px;
                color: rgb(165, 165, 165);
                margin-bottom: 30px;
            }
            span {
                margin-bottom: 30px;
            }

            button {
                background: none;
                border: 1px solid rgb(165, 165, 165);
                border-radius: 5px;
                padding: 15px 40px;
            }
        }
    }
}
